.card-dark{
   display: flex;
   flex-direction: column;
   background: #2b3945;
   color: aliceblue;
}

.card-dark a{
   color: aliceblue;
}

.card-light{
   display: flex;
   flex-direction: column;
   background:  #e6eaed;
   color: black;
}
.card-light a{
   color: black;
}

.country-image{
   width: 100%;
   height: 209px;
   border-radius: 5px;
}

.country-image img{
   object-fit: cover;
   height: 100%;
   width: 100%;
   border-radius: 5px;
} 

.card-text{
   padding: 20px;
}