.header-dark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b3945;
    padding: 0.4rem 0.8rem;
}

.header-light{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6eaed;
    padding: 0.4rem 0.8rem;
}

.theme-button{
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-size:23px;
    font-weight: 600;
    color: inherit;
}