 /* =================
      #Theme colors
    ================= */

    :root {
      --very-light-grey:  hsl(0, 0%, 98%); /* (Light Mode Background) */
      --light-grey: hsl(0, 0%, 73%);
      
      --white: hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */
      --dark-grey: #868383; /* (Light Mode Input) */
      --very-dark-blue: hsl(200, 15%, 8%); /* (Light Mode Text) */
  
      --dark-blue: #2b3945; /* (Dark Mode Elements) */
      --very-dark-blue-bg: #202c37; /* (Dark Mode Background) */
  
      --font-size-l: 1.5rem;
      --font-size-xm: 1rem;
      --font-size-m: 0.875rem;
      --font-size-s: 0.75rem;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body { 
  font-family: 'Nunito Sans', sans-serif;
  color: black;
  text-decoration: none;
  overflow-x: hidden;
  margin: 0;
}
body.dark {
  color: white;
  background-color: var(--very-dark-blue-bg);
}

.header{
  display: flex;
}

a{
  text-decoration: none;
}
